* print with parameter passing
* operators & operand
* import statement
* argument
* Errors: syntax, runtime, semantic

# Print() function

In [12]:
a = 10
b = 10.5
c = " This is a number addition "
name = "Printer"
print(a, b, sep=" + ", end = "\n")
print('=', a+b)

10 + 10.5
= 20.5

# Operators and operands

In [16]:
print(2 + 5)
print(2 - 5)
print(2 * 5)
print(2 / 5)

# 2^5
print(2 ** 5)

# 5 mod 2 = 1
print(5 % 2)

7
-3
10
0.4
32
1

In [20]:
# Integer Divison
print(9 // 5, type(9//5))

1 <class 'int'>

In [21]:
# Assignment operator
# Statement
a = 10
b = 10.5

# Expression
print(10/5)

2.0
20.5

In [23]:
a = 10
b = 3
a %= b
print(a)

1

In [31]:
a = 10
b = 3
# a %= b
# a == b
# a != b
# a > b
# a < b
a <= b

False

# import a module

In [33]:
import math
print(math.pi)

# 2^5 ==> 2**5
print(math.pow(2,5))

3.141592653589793
32.0

In [34]:
print(math.floor(1.22334))

1

In [35]:
print(math.ceil(1.22334))

2

In [2]:
import math

In [3]:
print(math.ceil(1.22334))

2

In [ ]:
print(math.round(1.22334))

# Errros

In [5]:
print(i am a student)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-5-924f08a9d875>, line 1)

In [6]:
print(2/0)

5 = b

ZeroDivisionError: division by zero

In [7]:
a = 10
b = 5
if a == b:
  print("a is equal b")

a is equal b

# Play with loop

In [11]:
for i in range(3):
  for j in range(3):
    print(i,j, end=" | ")
  print()

0 0 | 0 1 | 0 2 |
1 0 | 1 1 | 1 2 |
2 0 | 2 1 | 2 2 |

In [14]:
for i in range(3):
  for j in range(3):
    if i == j:
      print("*", end="")
    else:
      print("_",end="")
  print()

*__
_*_
__*