* break & continue
* else clause for loops
* string manipulation with methods
* split
* Taking multiple user input at once
* **Exercise**:
```python
distance(x1,y1,x2,y2),
isDivisible(dividend, divisor),
factorial(n),
find_num_index(n)
count_odd_numbers(),
```
* **Project**: Make a calculator by taking user input

## factorial()

In [ ]:
# 5! = 5*4*3*2*1
def factorial(n):
  factorial_val = 1
  for i in range(n, 0):
    factorial_val *= i
    print('inside loop:', i)
  return factorial_val

In [ ]:
i = 0
while i < 5:
  print(i)
  i+=1
  print('Does the loop ends here?')
print('Or does the loop ends here???')

0
Does the loop ends here?
1
Does the loop ends here?
2
Does the loop ends here?
3
Does the loop ends here?
4
Does the loop ends here?
Or does the loop ends here???

In [ ]:
result = factorial(5)
print(result)

1

In [ ]:
x = 2
if x % 2 == 0:
  print(f'x = {x} is a even number')

## break and continue statement

In [4]:
num_list = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
print(len(num_list))

100

In [7]:
# TASK#01: Find out the first index of 412 from the num_list => find_num_index(n)
def find_num_index(search_num):
  index = 0
  for num in num_list:
    print(index)
    if num == search_num:
      print(f"{search_num} index in the list: {index}")
      break
    index += 1

In [ ]:
find_num_index(412)

In [53]:
# TASK#02: Find out count of odd numbers num_list
num_list = range(2,8)
print(*num_list)

def count_odd_num():
  count = 0
  for num in num_list:
    print(num)
    if num % 2 == 0:
      print(num, 'Before continue')
      continue
      print('After continue')

    print('Outside if clause')

    count += 1
  return count

count = count_odd_num()

print('# of Odd numbers in list: ', count)

2 3 4 5 6 7
2
2 Before continue
3
Outside if clause
4
4 Before continue
5
Outside if clause
6
6 Before continue
7
Outside if clause
# of Odd numbers in list:  3

In [20]:
# else clause in for loops
for i in range(1,3):
  print(i)
  continue
else:
  print('For ends and now else is in run')

1
2
For ends and now else is in run

## split function

In [40]:
random_str = "I am python. I am almost 28 years old"
# print(type(random_str))
# print(random_str[2:5])
# print('pythn' in random_str)
# print(random_str[::-1])
# print(random_str.startswith('1'))
# print(random_str.endswith('old'))
# print(random_str.split("am"))

['I ', ' python. I ', ' almost 28 years old']

## Task#03: Make a calculator taking user inputs

In [51]:
operation = input('Enter +,-,/,*: ')
inputs = input('Enter two numbers: ')

Enter +,-,/,*: +
Enter two numbers: 2 4

In [52]:
print(operation, inputs)

+ 2 4

In [50]:
numbers = inputs.split(' ')
x = int(numbers[0])
y = int(numbers[1])
x,y

(2, 3)