Commenting

Variables

Assign multiple variables

Data types

Type casting

Numbers

Strings

# Learn commenting with python

In [ ]:
# Assigning a numerical value to a variable.
# Then printning the variable to show the value
class_room = 201
print(class_room)

201

In [ ]:
"""
This a multi-line comment with:
""
"""
class_room = 201
print(class_room)

201

In [ ]:
'''
This a
multi-line comment
'''
class_room = 201
print(class_room)

201

# Variables

## Data_types

In [ ]:
class_room = 201
marks = 89.99999
student_name = "Rahimul"
print(type(student_name))

<class 'str'>

## Type casting

In [ ]:
marks = 89
marks_in_string = str(marks)
print(marks, type(marks))
print(marks_in_string, type(marks_in_string))

89 <class 'int'>
89 <class 'str'>

## Varibale naming

In [ ]:
# snake_case
marks_in_strings = '89'

# camelCase
marksInString = '89'

# PascelCase
MarksInStrings = '89'

In [ ]:
# Can't start with number
# 2inInt = 2
IntValOf2 = 2

In [ ]:
# Naming in case-sensitive
name = 'Akhalia'
print(name)

Akhalia

In [ ]:
# Just accept _ while declaring a var, no other special char)[_@#$%^&*]
# flt%var

## More data types [list, tuple, dictionary, set]

In [ ]:
groceries = ['Rice', 'Dal', 'Onion', 'Oil']
print(type(groceries))

<class 'list'>

In [ ]:
groceries.append('Salt')
print(groceries)

['Rice', 'Dal', 'Onion', 'Oil', 'Salt']

In [ ]:
groceries.remove('Oil')
print(groceries)

['Rice', 'Onion', 'Salt']

In [ ]:
name = 'Rahat'
if name == 'Rahat':
  print('Hello Rahat!')
if name == 'Sony':
  print('Hello Sony')
elif name == 'Risita':
  print('Hello Risita')
else:
  print('Who are you then?')

Hello Rahat!
Who are you then?